<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Дата и время записи</th>
			<th>Мастер</th>
			<th>Цвет</th>
		</tr>
	</thead>
	<tbody>
		<%= @users_table %>
	</tbody>
</table>